<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SlyClothing Shop - Đăng Nhập</title>
	<link rel="icon" href="../static/images/Fevicon.png" type="image/png">
	<link rel="stylesheet" href="../static/vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../static/vendors/fontawesome/bootstrap.min.css">
	<link rel="stylesheet" href="../static/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="../static/vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="../static/vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="../static/vendors/nouislider/nouislider.min.css">

	<link rel="stylesheet" href="../static/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
		crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/3.0.0/flickity.css"
		integrity="sha512-TZTUnuHs1njGko8PJqZlHzqZTZd880A+BvhR1jy1v4mWB4VFKVLG/eK9LYdDjxqNLmttSC1ygmqg6rkYjnEgaQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<!--================ Start Header Menu Area =================-->
	<header id="header-main">
		<div class="logo">
			<img src="../static/images/home_images/Sly.png" alt="">
		</div>
		<div class="menu">
			<li id="li-1" class="li-submenu"><a href="">NAM</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Design Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="li-submenu"><a href="">NỮ</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Nữ</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="li-submenu"><a href="">TRẺ EM</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Trẻ em</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="li-submenu"><a href="">SALE</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Design Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="li-submenu"><a href="">BỘ SƯU TẬP</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Bộ sưu tập</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="li-submenu"><a href="">LIFESTYLE</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Lifestyle</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="li-submenu"><a href="">VỀ CHÚNG TÔI</a>
				<div class="mega-box">
					<div class="content">
						<div class="row">
							<img src="https://picsum.photos/200/200" alt="">
						</div>
						<div class="row">
							<header>Về chúng tôi</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Security Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
						<div class="row">
							<header>Email Services</header>
							<ul class="mega-links">
								<li><a href="#">Graphics</a></li>
								<li><a href="#">Vectors</a></li>
								<li><a href="#">Business cards</a></li>
								<li><a href="#">Custom logo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</li>
		</div>
		<div class="others">
			<li><input placeholder="Tìm kiếm" type="text"><i class="fa-solid fa-magnifying-glass"></i></li>
			<li><a class="fa-solid fa-phone" href=""></a></li>
			<li><a class="fa-solid fa-user" href=""></a></li>
			<li><a class="fa-solid fa-bag-shopping" href=""></a></li>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Đăng Nhập / Đăng Ký</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
							<li class="breadcrumb-item active" aria-current="page">Đăng Nhập/Đăng Ký</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- ================ end banner area ================= -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Đăng ký tài khoản?</h4>
							
							<a class="button button-account" href="register.html">Tạo Tài Khoản</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Đăng Nhập</h3>
						<form class="row login_form" action="#/" id="contactForm">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Email"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Email"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Nhớ tài khoản</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Đăng Nhập</button>
								<a href="#">Quên Mật Khẩu?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



	<!--================ Start footer Area  =================-->
	<footer>
        <div class="footer-area footer-only">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets ">
                            <h4 class="footer_title large_title">Thông tin</h4>
                            <p>
                                Tất cả Sản phẩm đến từ Sly Clothing sẽ được Bảo hành miễn phí trọn đời.
                                Khẳng định không chỉ sản phẩm tốt mà mang đến dịch vụ Khách hàng tuyệt vời nhất.
                            </p>
                            <p>
                                Khi mua sản phẩm tại Sly Clothing quý khách yên tâm trong quá trình sử dụng. Dù là lỗi của nhà sản xuất, lỗi do khách hàng sử dụng…
                                Chúng tôi sẽ Bảo Hành Trọn Đời và hoàn toàn Miễn Phí cho Quý Khách!
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Danh Mục</h4>
                            <ul class="list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Bộ sưu tập</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="../static/images/gallery/r1.jpg" alt=""></li>
                                <li><img src="../static/images/gallery/r2.jpg" alt=""></li>
                                <li><img src="../static/images/gallery/r3.jpg" alt=""></li>
                                <li><img src="../static/images/gallery/r5.jpg" alt=""></li>
                                <li><img src="../static/images/gallery/r7.jpg" alt=""></li>
                                <li><img src="../static/images/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Liên hệ</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Chi nhánh
                                </p>
                                <p>The New PlayGround - 90 Lê Lai, Q1</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Số điện thoại
                                </p>
                                <p>
                                    +123 456 7890 <br>
                                    +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    free@infoexample.com <br>
                                    www.infoexample.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Nguyen Nhu Huy</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
	<!--================ End footer Area  =================-->
	<script type="text/javascript">
		$(document).ready(function () {
			$("li.li-submenu").each(function () {

				$(this).hover(function () {
					$(this).find('.mega-box').hover();
					$(this).find('a').toggleClass("active-hover")
					$(this).find(".mega-box").toggleClass("show-submenu");
				})
			})
		})
		// 
	
	
		//
		let thumbnails = document.getElementsByClassName('thumbnail');
	
		let activeImages = document.getElementsByClassName('active')

		let featured =  document.getElementById("featured")

		console.log(featured);
		for(var i = 0; i < thumbnails.length; i++) {
			thumbnails[i].addEventListener('mouseover', function () {
				console.log('mouse me')
				if(activeImages.length > 0){
					activeImages[0].classList.remove('active');
				}
				this.classList.add('active')
				featured.src= this.src
				
			})
		}
		// 
	</script>


	<script src="../static/vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="../static/vendors/skrollr.min.js"></script>
	<script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="../static/vendors/nice-select/jquery.nice-select.min.js"></script>
	<script src="../static/vendors/jquery.ajaxchimp.min.js"></script>
	<script src="../static/vendors/mail-script.js"></script>
	<script src="../static/js/main.js"></script>
</body>

</html>