*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}
body{
    background-color: #f4f4fb;
}
h2 {
    font: 18px;
    padding: 15px 0;
}
h2 > span {
    font-size: 14px;
}
/* -------- */
/* --------- */
/*----------------------------------------------------------------*/
.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    padding-left: 6rem;

}

.profile{
    display: flex;
    width: 32%;
    max-width: 300px;
    justify-content: space-around;
    align-items: center;
}
.profile-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-name{
    font-size: 0.9rem;

}

.side-toggle{
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 25px;
    float: right;
    font-size: 20px;
    cursor: pointer;
}
#toggle{
    display: none;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    padding: 80px 0 20px 0;
    color: #fff;
    background-color: #2d2b98;
    box-shadow: 2px 0 5px rgba(0,0,0, 0.5);
}
.sidebar-menu{
    display: flex;
    align-items: center;
    padding : 15px 25px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.sidebar-menu a{
	text-decoration: none;
    color: white
}
.sidebar-menu > span{
    font-size: 25px;
    padding-right: 30px;
}
.sidebar-menu:hover{
 
    background-color: #f8f8f8;
}
.sidebar-menu:hover  a{
	color: #2d2b98;
}
.sidebar-menu:hover span{
	color: #2d2b98;
}
#toggle:checked ~ .sidebar{
    width: 70px;
}
#toggle:checked ~ .sidebar .sidebar-menu > p {
    display: none;
}
#toggle:checked ~ main {
    padding: 6rem 2rem 2rem 6rem;
}

/* ----------------------- */
main{
    min-height: 100%;
    padding: 6rem 1rem 2rem 14rem;
    color: #201f2b;
}
.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: "total-1 total-2 total-3 total-4 total-4"
    "detail detail detail customer customer"
    "detail detail detail customer customer";
}
.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}
.total-1{
    grid-area: total-1;
    background-color: #2d972e;
    color: #fff;
}
.total-2{
    grid-area: total-2;
    background-color: #ffa705;
    color: #fff;
}
.total-3{
    grid-area: total-3;
    background-color: #9132bd;
    color: #fff;
}
.total-4{
    grid-area: total-4;
    background-color: #15a1fe;
    color: #fff;
}
.detail{
    grid-area: detail;
    overflow-x: auto;
}
.customer{
    grid-area: customer;
    overflow-x: auto;
}

.info{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.info-detail h2{
    font-size: 26px;
}
.info-detail p{
    font-size: 16px;
}
.info-image{
    font-size: 50px;
    color: #2d2b98;
}
.detail-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.detail-header button{
    height: 30px;
    width: 120px;
    border: 1px solid #2d2b98;
    background-color: #2d2b98;
    color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.detail-header button:hover{
    background-color: transparent;
    color: #2d2b98;
}
.detail table{
    width: 100%;
    border-collapse: collapse;
}
.detail table tr:nth-child(odd){
    background-color: #f8f8fb;
}
.detail table th{
    background-color: #f4f4fb;
}
.detail table th, 
.detail table td{
    padding: 0.8rem 0.2rem;
    text-align: left;
    min-width: 120px;
    font-size: 16px;
}
.detail table tr:hover{
    background-color: #f2f2f2;
    border-bottom: 2px solid #2d2b98;
}
.detail table tr td:nth-child(2),
.detail table tr td:nth-child(3){
    min-width: 150px;
}
.status{
    padding: 0.3rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1;
    font-size: 0.9rem;
}
.onprogress{
    background-color: #fff2d7;
    color: #ffa705;
}
.confirmed{
    background-color: #d7effc;
    color: #15a1fe;
}
.fulfilled{
    color: #37aa38;
}
.customer table{
    width: 100%;
    border-collapse: collapse;
}
.customer table tr:nth-child(odd){
    background-color: #f8f8fb;
}
.customer table th{
    background-color: #f4f4fb;
}
.customer table th, 
.customer table td{
    padding: 0.8rem 0.2rem;
    text-align: left;
    min-width: 120px;
    font-size: 14px;
}
.customer table tr:hover{
    background-color: #f2f2f2;
    border-bottom: 2px solid #2d2b98;
}
.customer table tr td:nth-child(2),
.customer table tr td:nth-child(3){
    min-width: 150px;
}
.btn-detail{
    padding: 7px 25px;
    background: linear-gradient(to left, #76b2f6, #3fd0e9);
    text-decoration: none;
    color: rgb(20, 19, 19);
}
 .button{
  display: flex;
    justify-content: center;
    /* width: 100px; */
    align-items: center;}
  
/*  */
.board {
    position: fixed;
    top: 20%;
    left: 15%;
    width: 80%;
   margin: 30px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}
.board table{
    width: 100%;
    border-collapse: collapse;
}
.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px;
}
.board h5{
    font-weight: 600;
    font-size: 16px;
}
.board p{
    font-weight: 400;
    font-size: 15px;
    color: #787d8d;
}
.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
.board tr{
    border-bottom: 1px solid #eef0f3;
}
.board thead td {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAFB;
    text-align: start;
    padding: 15px;
}
.board tbody tr td{
    padding: 10px 15px;
}
.active p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}
.edit a{
    text-decoration: none;
    font-size: 16px;
    color: #554cd1;
    font-weight: 600;
    margin: 10px;
}
.edit a:last-of-type{
   
    color: #c73521;
   
}

/* css search */
.search{
    width: 200px;
    /* height: 17px; */
    position: fixed;
    top: 18%;
    left: 18%;
    width: 51%;
}
.search-input{
    padding: 0.5rem;
    border: 1px solid #eee;
}
.search-btn{
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #2979ff;
    border: 0;
    border-radius: 10%;
    width: 100px;
}
/* ---select box */
.dropdown{
    width: 15rem;
    position: fixed;
    top: 18%;
    right: 3%;
    z-index: 2;
}

.dropdown:hover .dropdown-list{
    opacity: 1;
    visibility: visible;
}
 


.dropdown-select{
    padding: 0.5rem;
    border-radius: 4px;
    background-color: white;
    /* float: right; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    cursor: pointer;
}
.dropdown-select:hover .dropdown-list{
	  opacity: 1;
    visibility: visible;
}
.dropdown-list{
    border-radius: 4px;
    background-color: white;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
   
    transition: opacity 0.2s linear, visibility 0.2s linear;
}
.dropdown-list a{
    display: block;
    text-decoration: none;
}
.dropdown-list__item{
    padding: 0.7rem;
    font-size: 1rem;
    width: 100%;
    border-bottom: 1px solid rgb(187, 187, 187);
    color: black;
}
/*

 */
.dropdown-list__item:hover{
    border: 1px solid blue;
    cursor: pointer;
}
/* pagination */
.pagination-buttons{
    float: right;
    display: flex;
    align-items: center;    
    gap: 4px;
}
.page-btn[class$= "-page"]{
    background: #ccc;
    font-size: 0.6em;
    font-weight: bold;
}
.page-btn:not[class$= "-page"]{
    width: 35px;
}
.page-btn.active{
    background: #717790;
    color: #fff;
}
.page-btn[disabled]{
    opacity: 0.3;
}
.show-text{
    display:inline-block;
}
.page-btn{
    background: #ddd;
    color: #2c303a;
    height: 20px;
    border-radius: 2px;
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 10px;
    border: 0;
    transition: background 0.3s ease;
    cursor: pointer;
}
  /* ---------modal css ---------- */
  
  #btnRegister{
  	    position: fixed;
    top: 18%;
    left: 35%;
    width: 9%;
}
  
/*  */