<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Page Admindsdsd</title>
<link rel="stylesheet" th:href="@{/css/brand/page_brand_register.css}"  type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<!--navbar-->
	<nav class="navbar">
		<h4>Dashboard</h4>
		<div class="profile">
		
			<img src="https://picsum.photos/200/200" alt="" class="profile-image">
			<p class="profile-name">Lorem ipsum</p>
		</div>
	</nav>
	<!-- sidebar -->
	<input type="checkbox" id="toggle">
	<label for="toggle" class="side-toggle">
		<span class="fas fa-bars"></span>
	</label>

	<div class="sidebar">
		<div class="sidebar-menu">
			<span class="fas fa-clipboard-list">
			</span>
			<p>Overview</p>
		</div>
		<div class="sidebar-menu">
			<span class="fas fa-users">
			</span>
			<p>Teams</p>
		</div>
		<div class="sidebar-menu">
			<span class="fas fa-credit-card">
			</span>
			<p>Payment</p>
		</div>
		<div class="sidebar-menu">
			<span class="fas fa-chart-line">
			</span>
			<p>Statistic</p>
		</div>
		<div class="sidebar-menu">
			<span class="fas fa-id-card">
			</span>
			<p>Contact</p>
		</div>
		<div class="sidebar-menu">
			<span class="fas fa-cog">
			</span>
			<p>Setting</p>
		</div>

	</div>
	<!-- main dashboard -->
	 <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form th:action="@{/brands/save}" th:object="${brand}" method="post" enctype="multipart/form-data" >
	
        <div class="user-details">
          <input type="hidden"  id="id" th:field="*{id}">
          <div class="input-box">
            <span class="details">Brand Name</span>
            <input type="text"  placeholder="Enter your Brand name" th:field="*{name}" minlength="2" maxlength="45" required>
          </div>
        
       		<div class="input-box">
            	<label for="categories" >Brands:</label>
				<div >
					<select name="categories" id="slCategory"  onChange="getSelectedOptions(this)" multiple>
						<th:block th:each="category : ${listCategory}">

							<option th:value="${category.id}" th:text="${category.name}"></option>
						</th:block>
					</select>
				</div>
        	</div>
			<div class="input-box" style="width:100%">
				<span class="details" style="display:inline-block">Chosen Brand:</span>
				<b id="optSelected" style="display:flex;"></b>
			  </div>
			<div class="input-box">
				<div  id="file-box">
					<label for="">Photos</label>
					<input type="hidden" th:field="*{logo}" >
					<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpg, image/jpeg"
					th:required="${brand.id == null}">
					   <img id="thumbnail" alt="Photos preview" th:src="@{${brand.photosImagePath}}">
				</div>
			</div>
			</div>
        <div class="button">
          <input type="submit" id="btnSubmit" value="Register">
        </div>
      </form>
    </div>
  </div>
 
  <div class="modal-container" id="modalDialog">
	  <div class="modal">
		  <h1 id="modalTitle">gbfsdjgbfdngfd</h1>
		  <p id="modalBody">gfdgfdgfdg</p>
		  <button class="btnModal" id="close">Close</button>
	  </div>
  </div>
	
  </body>
  <script type="text/javascript">
  $(document).ready(function () {
		$("#btnCancel").click(function () {
			window.location = "/ShopmeAdmin/users";
		})
		$("#fileImage").on("change", function () {
			console.log("image change")
			fileSize = this.files[0].size;
			alert("File size:" + fileSize);
			if (fileSize > 1048576) {//== 1MG
				this.setCustomValidity("File > 1 MB");
				this.reportValidity();
			} else {
				this.setCustomValidity("");

				showImageThumbnail(this)
			}
		});
	
	})
	function showImageThumbnail(fileInput) {
	var file = fileInput.files[0];//Vì fileIput đang là dạng FileList nên phải files[0]
	var reader = new FileReader();

	reader.onload = function (e) {
		$("#thumbnail").attr("src", e.target.result);
	}
	reader.readAsDataURL(file);//luôn chạy trước onload
}
	/////////
	
	//////////////
	function checkEmailUnique(form) {

	url = "http://localhost:8080/ShopmeAdmin/admins/check_email";
	userEmail = $("#email").val();
	csrfValue = $("input[name ='_csrf']").val();
	userId = $("#id").val();
	params = { id: userId, email: userEmail, _csrf: csrfValue };

	$.post(url, params, function (response) {
		if (response == "OK") {
			form.submit();

		} else if (response == "Duplicated") {
			showWarningDialog("There is another user having the email:" + userEmail);
		}
		else {
			showErrorDialog("Unknown response from server");
		}
	}).fail(function () {
		showErrorDialog("Could not connect to server");
	})

	return false;
}
	//////////
	$(document).ready(function () {
		dropdownCategories = $("#slCategory");
		chosenCategories = $("#optSelected");
		dropdownCategories.change(function () {
			chosenCategories.text("")
			showChosenCategories();
		})
	})
	function showChosenCategories(){
		dropdownCategories.children("option:selected").each(function(){
			selectedCategory = $(this);
			catId = selectedCategory.val();
			catName = selectedCategory.text();
			chosenCategories.append("<p style='margin-right: 10px'>" +catName + "</p>")
		})
	}

  </script>
</body>
</html>