<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Page Admindsdsd</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/page_admin.css}"  type="text/css">
<link rel="stylesheet" th:href="@{/css/page_register.css}"  type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body>
	<!--navbar-->
	<nav class="navbar">
		<h4>Trang đăng ký</h4>
		<div class="profile">
		
			<img src="https://picsum.photos/200/200" alt="" class="profile-image">
			<p class="profile-name">Lorem ipsum</p>
		</div>
	</nav>
	<!-- sidebar -->
	<input type="checkbox" id="toggle">
	<label for="toggle" class="side-toggle">
		<span class="fas fa-bars"></span>
	</label>

	<div class="sidebar">
        <div class="sidebar-menu">
            <span class="fas fa-users">
            </span>
            <a th:href="@{/admins/list}">Quản lý tài khoản</a>
        </div>
        <div class="sidebar-menu">
            <span class="fas fa-clipboard-list">
            </span>
            <a>Quản lý sản phẩm</a>
        </div>
        <div class="sidebar-menu">
            <span class="fas fa-credit-card">
            </span>
            <a th:href="@{/admins/list}">Quản lý danh mục</a>
        </div>
        <div class="sidebar-menu">
            <span class="fas fa-chart-line">
            </span>
           <a th:href="@{/admins/list}">Quản lý đơn hàng</a>
        </div>
        <div class="sidebar-menu">
            <span class="fas fa-id-card">
            </span>
           <a th:href="@{/admins/list}">Thống kê báo cáo</a>
        </div>
        <div class="sidebar-menu">
            <span class="fas fa-cog">
            </span>
            <p>Cấu hình</p>
        </div>

    </div>

	</div>
	<!-- main dashboard -->
	 <div class="container">
    <div class="title">Đăng ký tài khoản</div>
    <div class="content">
      <form th:action="@{/admins/save}" th:object="${admin}" method="post" enctype="multipart/form-data" onsubmit="return checkEmailUnique(this)" >
	
        <div class="user-details">
          <input type="hidden"  id="id" th:field="*{id}">
          <div class="input-box">
            <span class="details">Tên</span>
            <input type="text"  placeholder="Tên" th:field="*{firstName}" minlength="2" maxlength="45" required>
          </div>
          <div class="input-box">
            <span class="details">Họ</span>
            <input type="text"  placeholder="Họ" th:field="*{lastName}" minlength="2" maxlength="20" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Email" th:field="*{email}" required>
          </div>
          <div class="input-box">
            <span class="details">Mật khẩu</span>
            <input type="password"  th:if="*{id == null}"  oninput="return checkPasswordMatch(document.getElementById('confirmPassword'))" th:field="*{password}" placeholder="Mật khẩu" required>
          	<input type="password" th:if="*{id != null}" oninput="return checkPasswordMatch(document.getElementById('confirmPassword'))" th:field="*{password}" placeholder="Không thay đổi thì không nhập gì" >
          </div>
          <div class="input-box">
            <span class="details">Nhập lại mật khẩu</span>
            <input type="password" oninput="return checkPasswordMatch(this)" id="confirmPassword" placeholder="Nhập lại mật khẩu" >
          </div>
       		<div class="input-box">
            	<label for="" >Quyền:</label>
				<div >
					<th:block th:each="role : ${listRoles}">
						<input type="checkbox" th:field="*{roles}"
							th:text="${role.name}"
							th:value="${role.id}"
							class="m-2"
						/>
				
						- <small th:text="${role.description}"></small>
						<br/>
					</th:block>
				</div>
     
          <div class="input-box">
          	<label for=""> Trạng thái</label>
            <input type="checkbox" th:field="*{enabled}" id="dot-1">
           
            </div>
          </div>
		  <div  id="file-box">
			  <label for="">Ảnh</label>
			  <input type="hidden" th:field="*{photos}" >
			  <input type="file" name="image" id="fileImage" accept="image/*">
		 		<img id="thumbnail" style="width : 200px" alt="Photos preview" th:src="@{${admin.photosImagePath}}">
		  </div>
        </div>
        <div class="button">
          <input type="submit" id="btnSubmit" value="Đăng Ký">
           <a th:href="@{'/admins/list'}" class="btn btn-danger" id="btnCancel" >Hủy</a>
        </div>
      </form>
    </div>
  </div>
 
  <div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button class="close" type="button" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
  </body>
  <script th:src="@{/js/common.js}" type="text/javascript"></script>
  
</body>
</html>